/*config. stilo do contador intervalo atual*/
.countdownContainer {
    display: flex;
    align-items: center;
    /* font-family: Rajdhani; */
    font-family: Rajdhani, sans-serif;
    font-weight: 600;
    color: var(--title);
}


.countdownContainer > div {  /*[>div]- pego 1° div interna do container*/
   flex: 1;

   display: flex;
   align-items: center;
   justify-content: space-evenly;

   background: var(--white);
   box-shadow: 0 0 60px rgba(0, 0, 0, 0.05);
   border-radius: 5px;
   font-size: 8.5rem;
   text-align: center;
}

.countdownContainer > div span {
    flex: 1 ;
}

.countdownContainer > div span:first-child {
    border-right: 1px solid #f0f1f3; /*ajusto borda entre os numero casas decimais*/

}

.countdownContainer > div span:last-child {
    border-left: 1px solid #f0f1f3;
}

.countdownContainer > span { /*[>]- pego 1° nivel span filhos*/
    font-size: 6.25rem;
    margin: 0 0.5rem;
}

.countdownButton {
    width: 100%;
    height: 5rem;

    margin-top: 2rem;

    display: flex;
    align-items: center;
    justify-content: center;

    border:0;
    border-radius: 5px;
    background: var(--blue);
    color: var(--white);

    font-size: 1.25rem;
    font-weight: 600;
    transition: background-color 0.2s;/*transição linear no bottan para hover*/
}

.countdownButton:not(:disabled):hover {  /*so ha evento quando o botão for ativo e não for desativado ex:(Ciclor encerrado)*/
    background: var(--blue-dark);
}

.countdownButtonActive { /*efeito button later active*/
    background: var(--white);
    color: var(--title);
}

.countdownButtonActive:not(:disabled):hover { /*efeito later active*/
    background: var(--red);                   /*so ha evento quando o botão for ativo e não for desativado ex:(Ciclor encerrado)*/
    color: var(--white);
}
 
.countdownButton:disabled {  /*Quando o botão for cliclo encerrado = desabled*/
    background: var(--white);
    color: var(--text);
    cursor: not-allowed;/*[not-allowed]- não é clicavel*/

}