.container {
    height: 100vh; /*100vh - view port height*/
    max-width: 992px;
    margin: 0 auto;
    padding: 2.5rem 2rem;
 
    display: flex;
    flex-direction: column;/* [column]-Mateno os conteunos abaixo do outro*/
 }

 .container section {
     flex: 1;

     display: grid;
     grid-template-columns: 1fr 1fr;
     gap: 6.25rem; /* 6,25 x 16 = 100pixels  */
     align-content: center;/*alinho todo conteudo do grid ao centro verticalmente*/
 }